/* .bg-primary.badge-primary{
    background-color: rgba(54, 162, 235, 1) !important;
} .bg-danger, .badge-danger{
    background-color: rgba(255, 99, 132, 1) !important;
} .bg-warning, .badge-warning{
    background-color: rgb(255, 191, 31) !important;
} .bg-success, .badge-success{
    background-color: rgba(75, 192, 192, 1) !important;
} */
